:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
    }

    ion-item {
        color:white;
    }
}

.pick-data {
    color: grey;
}

