<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">List car for rent</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<form [formGroup]="onCarListForm" class="list-form">
  <ion-item no-padding class="animated fadeInUp">
    <ion-label position="floating">
      <ion-icon name="car" item-start></ion-icon>
     Car Model
    </ion-label>
    <ion-input color="secondary" type="text" formControlName="carName"></ion-input>
  </ion-item>
  <p ion-text class="text08" *ngIf="onCarListForm.get('carName').touched && onCarListForm.get('carName').hasError('required')">
    <ion-text color="warning">
      This field is required
    </ion-text>
  </p>

  <ion-item no-padding class="animated fadeInUp">
    <ion-label position="floating">
      <ion-icon name="pin" item-start></ion-icon>
      Location
    </ion-label>
    <ion-input color="secondary" type="text" formControlName="location"></ion-input>
  </ion-item>
  <p ion-text class="text08" *ngIf="onCarListForm.get('location').touched && onCarListForm.get('location').hasError('required')">
    <ion-text color="warning">
      This field is required
    </ion-text>
  </p>

  <ion-item no-padding class="animated fadeInUp">
    <ion-label position="floating">
      <ion-icon name="information-circle" item-start></ion-icon>
      Car Year
    </ion-label>
    <ion-input color="secondary" type="text" formControlName="year"></ion-input>
  </ion-item>
  <p ion-text color="warning" class="text08" *ngIf="onCarListForm.get('year').touched && onCarListForm.get('year').hasError('required')">
    <ion-text color="warning">
      This field is required
    </ion-text>
  </p>
  <ion-item>
    <ion-label class="pick-data">Pick available day</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>From</ion-label>
    <ion-datetime display-format="MMM DD, YYYY HH:mm" formControlName="start-date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>To</ion-label>
    <ion-datetime display-format="MMM DD, YYYY HH:mm" formControlName="end-date"></ion-datetime>
  </ion-item>
  <ion-button color="success ion-margin-top">Pick Photo</ion-button>
</form>
</ion-content>

<ion-button expand="full" color="tertiary">Publish</ion-button>