<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/img/avatar.jpeg">
      <h1 class="fw500">Stole</h1>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon> 
        Edit / Add Avatar
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Form</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Full Name:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: Stole" value="Stole Terziev"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: stole@gmail.com" value="stole@gmail.com"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Address:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: 1000 Skopje"></ion-input>
            </ion-item>
    
          </ion-list>

  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Edit</ion-button>
  </ion-card>
  
  <div padding>
    <ion-text color="dark" no-margin>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione quisquam, fugit
      omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia, dolore?
    </ion-text>
  </div>
</ion-content>
